DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=attendai
DATABASE_PASSWORD=attendai_secret
DATABASE_NAME=attendai
PORT=8000
NODE_ENV=development
RECOGNITION_THRESHOLD=0.6
CHECKIN_COOLDOWN_MINUTES=5
CORS_ORIGIN=http://localhost:5173
